body {
    display: flex;
    flex-direction: column;
    margin: 0%;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

img {
    display: flex;
    padding-top: 5px;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.introduction {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {
    background-color: rgb(115, 46, 194);
    color: white;
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-weight: 300;
    font-size: 48px;        
    
}

.foto {
    width: 500px;
    height: auto;
    padding: 30px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    padding: 30px;
}

.fotos {
    display: flex;
    text-align: center;
}

#photo {
    padding: 30px;
    width: 250px;
    height: 250px;
}

.quote {
    background-color: grey;
    font-style: italic;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 0px;
    text-align: justify;
}

.author {
    display: flex;
    margin-top: 30px;
    margin-left: auto;
}

.footer {
    display: flex;
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    padding: 50px;
    margin: 150px;

}

.bold {
    font-weight: bold;
    font-size: 27px;
}

.signup {
    margin-left: auto;
    margin-right: 100px;
    width: 250px;
    height: 30px;
    color: white;
    background-color: #3882f6;
    border-color: white;
    font-weight: bold;
    border-radius: 5px;
}

.copyright {
    height: 80px;
    color: white;
    background-color:#1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}