body {
    display: flex;
    flex-direction: column;
    margin: 0%;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

img {
    display: flex;
    padding-top: 5px;
}

button {
    background-color: rgb(115, 46, 194);
    color: white;
    width: 250px;
    height: 30px;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.introduction {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-weight: 300;
    font-size: 40px;        
}

.foto {
    display: flex;
    width: 500px;
    height: auto;
    padding: 30px;
}