body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

img {
    display: flex;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

